.intro > .sliderdiv{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 10px;
}
.intro > .smallheading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: orangered;
    font-family: 'Courier New', Courier, monospace;

}

.intro  > div >img{
    width: 50px;
}
.project-card{
     min-width: 350px; 

    height: 250px;
    background:white;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgb(190, 68, 247);
    margin: 10px;
    transition: all 0.5s;
}
.pctitle{
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 20px;
    text-shadow: 2px 3px 3px rgb(212, 24, 236);
}
.project-card:hover{
    transform: scale(1.09);
}
.pcdate{
    text-align: center;
    color: gray;
    margin-top: 10px;
    font-weight: 300;
    font-size: 13px;
}
.pcmc{
    cursor: pointer;
}